<div class="header-top">
  <h1 class="header1">Mario's</h1>
  <h2 class="header2">Discount Specialty Foods</h2>
  <%= image_tag "mario.png" %>
</div>

<hr class="hr-thick">
<hr class="hr-thin">
<div class="container id="about">
  <div class="row">
    <div class="col-lg-12">
      <h5>Mario's Discount Specialty Foods specializes in specialty foods that are discounted. Mario provides tastebud-tickling specialty ingredients at discoutned rates which right wrongs and disolves trauma. Please support Mario's Discount Specialty Foods by purchasing Mario's discounted specialty products that are guarenteed to be edible.</h5>
      <!-- <form>
        <label for="">Search Mario's Products:</label>
        <input type="text" name="search">
        <button type="submit" name="button">go</button>
      </form> -->
    </div>
  </div>
</div>
<hr class="hr-thin">
<hr class="hr-thick">
<div class="header-middle">
  <h2 id="middle-text">Have a Look at Mario's Edible Products!</h2>
</div>
<h4 id="create-new_product"><%= link_to "Create new product", new_product_path %></h4>

<div class="container">
  <div class="row">

    <div class="col-lg-3">
      <h3>All Products Available</h3>

      <% if @products.any? %>
      <ul>
        <% @products.each do |product| %>
        <li><%= link_to product.name, product_path(product) %></li>
        <% end %>
      </ul>
      <% else %>
      <p>There are no products yet.</p>
      <% end %>
    </div>

    <div class="col-lg-3">
      <h3>Products made in the USA</h3>
      <% if @usa_products.any? %>
      <ul>
        <% @usa_products.each do |product| %>
        <li><%= link_to product.name, product_path(product)%></li>
        <% end %>
      </ul>
      <% else %>
      <p>There are no products that are made in the USA in stock.</p>
      <% end %>
    </div>

    <div class="col-lg-3">
      <h3>The Three Most Recently Added Products</h3>
      <% if @three_most_recent.any? %>
      <ul>
        <% @three_most_recent.each do |product| %>
        <li><%= link_to product.name, product_path(product)%></li>
        <% end %>
      </ul>
      <% else %>
      <p>Looks like we don't have much in stock.</p>
      <% end %>
    </div>
    <div class="col-lg-3">
      <h3>Mario's Most Reviewed Product</h3>
      <% if @most_reviews.any? %>
      <ul>
        <% @most_reviews.each do |product| %>
        <li><%= link_to product.name, product_path(product)%></li>
        <% end %>
      </ul>
      <% else %>
      <p>Looks like we don't have much in the way of reviews.</p>
      <% end %>

    </div>
  </div>
</div>
<hr class="hr-thin">
<hr class="hr-thick">

<div class="bottom">

  <%= image_tag "pasta.png" %>

</div>
